<a href="https://colab.research.google.com/github/Trinadhreddy11/dataeng/blob/main/dataeng_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('data.csv',encoding='latin1')

In [5]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0
1    536365     71053                  WHITE METAL LANTERN       6.0
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER       8.0
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [6]:
print(df.tail())

      InvoiceNo StockCode                     Description  Quantity  \
12457    537381     22632       HAND WARMER RED RETROSPOT      24.0
12458    537381     22633          HAND WARMER UNION JACK      20.0
12459    537381     22867         HAND WARMER BIRD DESIGN      24.0
12460    537381     22601  CHRISTMAS RETROSPOT ANGEL WOOD      17.0
12461    537381     22603                 CHRISTMAS RETRO       NaN

           InvoiceDate  UnitPrice  CustomerID         Country
12457  12/6/2010 13:13       2.10     14667.0  United Kingdom
12458  12/6/2010 13:13       2.10     14667.0  United Kingdom
12459  12/6/2010 13:13       2.10     14667.0  United Kingdom
12460  12/6/2010 13:13       0.85     14667.0  United Kingdom
12461              NaN        NaN         NaN             NaN

In [7]:
print(df.shape)

(12462, 8)

In [8]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [9]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity       float64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [10]:
df.columns=df.columns.str.lower().str.replace(' ','_').str.strip()

In [11]:
df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [12]:
df.isnull().sum()

invoiceno         0
stockcode         0
description      45
quantity          1
invoicedate       1
unitprice         1
customerid     3506
country           1
dtype: int64

In [13]:
(df.isnull().mean()*100).round(2)

invoiceno       0.00
stockcode       0.00
description     0.36
quantity        0.01
invoicedate     0.01
unitprice       0.01
customerid     28.13
country         0.01
dtype: float64

In [14]:
df.duplicated().sum()

np.int64(236)

In [15]:
print(df.duplicated(subset=['description']).sum())

10325

In [16]:
df.duplicated(subset=['customerid']).sum()

np.int64(12090)

In [17]:
df.describe()

           quantity     unitprice    customerid
count  12461.000000  12461.000000   8956.000000
mean       7.477249      3.973280  15598.129299
std       93.885564     17.253932   1748.194062
min    -9360.000000      0.000000  12395.000000
25%        1.000000      1.250000  14307.000000
50%        2.000000      2.510000  15646.000000
75%        6.000000      4.210000  17211.000000
max     2880.000000    940.870000  18239.000000

In [18]:
df.describe(include='object')

,invoiceno,stockcode,description,invoicedate,country
count,12462,12462,12417,12461,12461
unique,585,2168,2136,504,15
top,537237,22632,HAND WARMER SCOTTY DOG DESIGN,12/6/2010 9:58,United Kingdom
freq,597,75,72,597,11806

In [19]:
df.nunique().sort_values()

country          15
quantity        124
unitprice       164
customerid      371
invoicedate     504
invoiceno       585
description    2136
stockcode      2168
dtype: int64

In [20]:
df['country'].value_counts(dropna=False)

country
United Kingdom    11806
Germany             196
EIRE                144
France              106
Norway               73
Lithuania            34
Italy                25
Japan                16
Australia            14
Portugal             14
Belgium              12
Poland                8
Switzerland           6
Spain                 5
Netherlands           2
NaN                   1
Name: count, dtype: int64

In [21]:
df['unitprice'].dtype

dtype('float64')

In [22]:
df.dtypes

invoiceno       object
stockcode       object
description     object
quantity       float64
invoicedate     object
unitprice      float64
customerid     float64
country         object
dtype: object

In [23]:
df[df['unitprice']<=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
622,536414,22139,NaN,56.0,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1.0,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1.0,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1.0,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1.0,12/1/2010 14:34,0.0,NaN,United Kingdom
1988,536550,85044,NaN,1.0,12/1/2010 14:34,0.0,NaN,United Kingdom
2024,536552,20950,NaN,1.0,12/1/2010 14:34,0.0,NaN,United Kingdom
2025,536553,37461,NaN,3.0,12/1/2010 14:35,0.0,NaN,United Kingdom
2026,536554,84670,NaN,23.0,12/1/2010 14:35,0.0,NaN,United Kingdom
2406,536589,21777,NaN,-10.0,12/1/2010 16:50,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38.0,12/2/2010 14:42,0.0,NaN,United Kingdom
4348,536765,84952C,NaN,19.0,12/2/2010 14:43,0.0,NaN,United Kingdom
6391,536941,22734,amazon,20.0,12/3/2010 12:08,0.0,NaN,United Kingdom
6392,536942,22139,amazon,15.0,12/3/2010 12:08,0.0,NaN,United Kingdom
7187,536995,35951,NaN,57.0,12/3/2010 15:29,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20.0,12/3/2010 15:30,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20.0,12/3/2010 15:30,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6.0,12/3/2010 15:30,0.0,NaN,United Kingdom
7191,536999,21421,NaN,110.0,12/3/2010 15:32,0.0,NaN,United Kingdom
7192,537000,21414,NaN,-22.0,12/3/2010 15:32,0.0,NaN,United Kingdom
7193,537001,21653,NaN,-6.0,12/3/2010 15:33,0.0,NaN,United Kingdom
7194,537002,21651,NaN,70.0,12/3/2010 15:33,0.0,NaN,United Kingdom
7195,537003,85126,NaN,-2.0,12/3/2010 15:33,0.0,NaN,United Kingdom
7196,537004,21814,NaN,-30.0,12/3/2010 15:34,0.0,NaN,United Kingdom
7197,537005,21692,NaN,-70.0,12/3/2010 15:35,0.0,NaN,United Kingdom
7198,537006,21648,NaN,-130.0,12/3/2010 15:36,0.0,NaN,United Kingdom
7199,537007,21172,NaN,-80.0,12/3/2010 15:36,0.0,NaN,United Kingdom
7200,537008,21161,NaN,-120.0,12/3/2010 15:37,0.0,NaN,United Kingdom
7201,537009,84534B,NaN,-80.0,12/3/2010 15:38,0.0,NaN,United Kingdom
7202,537010,22162,NaN,-40.0,12/3/2010 15:38,0.0,NaN,United Kingdom
7203,537011,22139,NaN,-5.0,12/3/2010 15:38,0.0,NaN,United Kingdom
7204,537012,21535,NaN,-12.0,12/3/2010 15:39,0.0,NaN,United Kingdom
7205,537013,35965,NaN,-25.0,12/3/2010 15:40,0.0,NaN,United Kingdom
7206,537014,21040,NaN,-20.0,12/3/2010 15:40,0.0,NaN,United Kingdom
7207,537015,37464,NaN,-14.0,12/3/2010 15:41,0.0,NaN,United Kingdom
7208,537016,21836,NaN,-15.0,12/3/2010 15:41,0.0,NaN,United Kingdom
7209,537017,47556B,NaN,-69.0,12/3/2010 15:41,0.0,NaN,United Kingdom
7210,537018,84562A,NaN,-3.0,12/3/2010 15:42,0.0,NaN,United Kingdom
7211,537019,37474,NaN,-15.0,12/3/2010 15:43,0.0,NaN,United Kingdom
7212,537020,21807,NaN,-30.0,12/3/2010 15:43,0.0,NaN,United Kingdom
7213,537021,21011,NaN,-20.0,12/3/2010 15:43,0.0,NaN,United Kingdom
7291,537027,18098C,NaN,-140.0,12/3/2010 16:36,0.0,NaN,United Kingdom
7292,537028,21696,NaN,-320.0,12/3/2010 16:36,0.0,NaN,United Kingdom
7293,537029,37476,NaN,-6.0,12/3/2010 16:37,0.0,NaN,United Kingdom
7313,537032,21275,?,-30.0,12/3/2010 16:50,0.0,NaN,United Kingdom
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1.0,12/5/2010 14:02,0.0,12647.0,Germany
12008,537361,21777,NaN,5.0,12/6/2010 12:34,0.0,NaN,United Kingdom
12069,537363,84569B,NaN,-20.0,12/6/2010 12:35,0.0,NaN,United Kingdom
12070,537364,21027,NaN,-70.0,12/6/2010 12:36,0.0,NaN,United Kingdom

In [24]:
df[df['quantity']>=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
12456,537381,22865,HAND WARMER OWL DESIGN,10.0,12/6/2010 13:13,2.10,14667.0,United Kingdom
12457,537381,22632,HAND WARMER RED RETROSPOT,24.0,12/6/2010 13:13,2.10,14667.0,United Kingdom
12458,537381,22633,HAND WARMER UNION JACK,20.0,12/6/2010 13:13,2.10,14667.0,United Kingdom
12459,537381,22867,HAND WARMER BIRD DESIGN,24.0,12/6/2010 13:13,2.10,14667.0,United Kingdom
12460,537381,22601,CHRISTMAS RETROSPOT ANGEL WOOD,17.0,12/6/2010 13:13,0.85,14667.0,United Kingdom

In [25]:
df['unitprice'].describe()

count    12461.000000
mean         3.973280
std         17.253932
min          0.000000
25%          1.250000
50%          2.510000
75%          4.210000
max        940.870000
Name: unitprice, dtype: float64

In [26]:
df['quantity'].describe()

count    12461.000000
mean         7.477249
std         93.885564
min      -9360.000000
25%          1.000000
50%          2.000000
75%          6.000000
max       2880.000000
Name: quantity, dtype: float64

In [28]:
df['invoicedate']=pd.to_datetime(df['invoicedate'])

In [29]:
df['invoicedate'].min(), df['invoicedate'].max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2010-12-06 13:13:00'))

In [30]:
df.dtypes

invoiceno              object
stockcode              object
description            object
quantity              float64
invoicedate    datetime64[ns]
unitprice             float64
customerid            float64
country                object
dtype: object

In [31]:
df[df['invoicedate'] < pd.Timestamp('1/1/2011')]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
12456,537381,22865,HAND WARMER OWL DESIGN,10.0,2010-12-06 13:13:00,2.10,14667.0,United Kingdom
12457,537381,22632,HAND WARMER RED RETROSPOT,24.0,2010-12-06 13:13:00,2.10,14667.0,United Kingdom
12458,537381,22633,HAND WARMER UNION JACK,20.0,2010-12-06 13:13:00,2.10,14667.0,United Kingdom
12459,537381,22867,HAND WARMER BIRD DESIGN,24.0,2010-12-06 13:13:00,2.10,14667.0,United Kingdom
12460,537381,22601,CHRISTMAS RETROSPOT ANGEL WOOD,17.0,2010-12-06 13:13:00,0.85,14667.0,United Kingdom

In [32]:
df['invoicedate'].isnull().sum()

np.int64(1)

In [33]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12462 entries, 0 to 12461
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    12462 non-null  object
 1   stockcode    12462 non-null  object
 2   description  12417 non-null  object
 3   quantity     12461 non-null  float64
 4   invoicedate  12461 non-null  datetime64[ns]
 5   unitprice    12461 non-null  float64
 6   customerid   8956 non-null   float64
 7   country      12461 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 3.3 MB

In [34]:
df.sample(20,random_state=42)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
10070,537224,22157,ANGEL DECORATION WITH LACE PADDED,24.0,2010-12-05 16:24:00,0.85,13174.0,United Kingdom
5470,536863,21883,STARS GIFT TAPE,1.0,2010-12-03 11:19:00,0.65,17967.0,United Kingdom
2308,536575,22095,LADS ONLY TISSUE BOX,252.0,2010-12-01 16:01:00,1.25,13777.0,United Kingdom
7974,537077,21976,PACK OF 60 MUSHROOM CAKE CASES,4.0,2010-12-05 11:59:00,0.55,17062.0,United Kingdom
9971,537224,20685,DOORMAT RED RETROSPOT,1.0,2010-12-05 16:24:00,7.95,13174.0,United Kingdom
4217,536754,21948,SET OF 6 CAKE CHOPSTICKS,1.0,2010-12-02 14:09:00,1.25,14449.0,United Kingdom
7582,537046,82486,WOOD S/3 CABINET ANT WHITE FINISH,1.0,2010-12-05 10:58:00,7.95,18109.0,United Kingdom
2996,536592,85114C,RED ENCHANTED FOREST PLACEMAT,2.0,2010-12-01 17:06:00,3.36,NaN,United Kingdom
4826,536805,22408,MONEY BOX CONFECTIONERY DESIGN,12.0,2010-12-02 16:38:00,1.25,14775.0,United Kingdom
5397,536862,22136,LOVE HEART SOCK HANGER,1.0,2010-12-03 11:13:00,3.36,NaN,United Kingdom
3352,536623,22717,CARD DOG AND BALL,12.0,2010-12-02 10:39:00,0.42,15601.0,United Kingdom
5129,536845,21706,FOLDING UMBRELLA RED/WHITE POLKADOT,1.0,2010-12-02 19:18:00,4.95,17961.0,United Kingdom
8171,537128,84375,SET OF 20 KIDS COOKIE CUTTERS,1.0,2010-12-05 12:15:00,2.10,12841.0,United Kingdom
8929,537155,35954,SMALL FOLKART STAR CHRISTMAS DEC,8.0,2010-12-05 13:05:00,0.42,12748.0,United Kingdom
2316,536576,35004C,SET OF 3 COLOURED FLYING DUCKS,120.0,2010-12-01 16:11:00,4.65,13777.0,United Kingdom
3485,536633,22446,PIN CUSHION BABUSHKA PINK,3.0,2010-12-02 11:20:00,3.35,14901.0,United Kingdom
3021,536592,90077,BLACK DIAMOND CLUSTER EARRINGS,1.0,2010-12-01 17:06:00,2.96,NaN,United Kingdom
10892,537240,22523,CHILDS GARDEN FORK PINK,1.0,2010-12-06 10:08:00,1.66,NaN,United Kingdom
5306,536857,22802,FAUX FUR CHOCOLATE THROW,1.0,2010-12-03 10:33:00,19.95,16883.0,United Kingdom
5700,536874,21143,ANTIQUE GLASS HEART DECORATION,1.0,2010-12-03 11:35:00,1.95,16891.0,United Kingdom

In [35]:
df['revenue']=df['quantity']*df['unitprice']

In [36]:
df.describe()

,quantity,invoicedate,unitprice,customerid,revenue
count,12461.000000,12461,12461.000000,8956.000000,12461.000000
mean,7.477249,2010-12-03 20:57:32.621779968,3.973280,15598.129299,17.343267
min,-9360.000000,2010-12-01 08:26:00,0.000000,12395.000000,-403.200000
25%,1.000000,2010-12-02 07:49:00,1.250000,14307.000000,3.300000
50%,2.000000,2010-12-03 11:36:00,2.510000,15646.000000,7.950000
75%,6.000000,2010-12-05 14:17:00,4.210000,17211.000000,16.950000
max,2880.000000,2010-12-06 13:13:00,940.870000,18239.000000,1627.200000
std,93.885564,NaN,17.253932,1748.194062,54.899638

In [37]:
df.to_parquet("clean_retail_data.parquet", index=False)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12462 entries, 0 to 12461
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    12462 non-null  object
 1   stockcode    12462 non-null  object
 2   description  12417 non-null  object
 3   quantity     12461 non-null  float64
 4   invoicedate  12461 non-null  datetime64[ns]
 5   unitprice    12461 non-null  float64
 6   customerid   8956 non-null   float64
 7   country      12461 non-null  object
 8   revenue      12461 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 876.4+ KB