<a href="https://colab.research.google.com/github/Trinadhreddy11/dataeng/blob/main/dataeng_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('data.csv',encoding='latin1')

In [6]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [7]:
print(df.tail())

      InvoiceNo StockCode                       Description  Quantity  \
62546    541506    85231b        CINAMMON SET OF 9 T-LIGHTS         1
62547    541506       DOT                    DOTCOM POSTAGE         1
62548    541507     22719      GUMBALL MONOCHROME COAT RACK         1
62549    541507     22807      SET OF 6 T-LIGHTS TOADSTOOLS         1
62550    541507     22844  VINTAGE CREAM DOG FOOD CONTAINER         1

           InvoiceDate  UnitPrice  CustomerID         Country
62546  1/18/2011 16:05       1.63         NaN  United Kingdom
62547  1/18/2011 16:05     118.33         NaN  United Kingdom
62548  1/18/2011 16:05       2.46         NaN  United Kingdom
62549  1/18/2011 16:05       5.79         NaN  United Kingdom
62550  1/18/2011 16:05      16.63         NaN             NaN

In [8]:
print(df.shape)

(62551, 8)

In [9]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [11]:
df.columns=df.columns.str.lower().str.replace(' ','_').str.strip()

In [12]:
df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [13]:
df.isnull().sum()

invoiceno          0
stockcode          0
description      163
quantity           0
invoicedate        0
unitprice          0
customerid     24050
country            1
dtype: int64

In [14]:
(df.isnull().mean()*100).round(2)

invoiceno       0.00
stockcode       0.00
description     0.26
quantity        0.00
invoicedate     0.00
unitprice       0.00
customerid     38.45
country         0.00
dtype: float64

In [15]:
df.duplicated().sum()

np.int64(619)

In [21]:
print(df.duplicated(subset=['description']).sum())

59652

In [19]:
df.duplicated(subset=['customerid']).sum()

np.int64(61373)

In [20]:
df.describe()

           quantity     unitprice    customerid
count  62551.000000  62551.000000  38501.000000
mean       8.352017      5.917935  15387.412379
std      423.334622    149.003900   1765.391847
min   -74215.000000      0.000000  12346.000000
25%        1.000000      1.250000  13984.000000
50%        2.000000      2.510000  15358.000000
75%        8.000000      4.250000  17017.000000
max    74215.000000  16888.020000  18283.000000

In [22]:
df.describe(include='object')

,invoiceno,stockcode,description,invoicedate,country
count,62551,62551,62388,62551,62550
unique,2787,2959,2898,2481,24
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,12/6/2010 16:57,United Kingdom
freq,675,340,345,675,58579

In [23]:
df.nunique().sort_values()

country          24
quantity        243
unitprice       412
customerid     1177
invoicedate    2481
invoiceno      2787
description    2898
stockcode      2959
dtype: int64

In [24]:
df['country'].value_counts(dropna=False)

country
United Kingdom     58579
Germany              979
France               863
EIRE                 483
Spain                331
Portugal             212
Netherlands          151
Norway               147
Belgium              130
Australia            125
Italy                112
Cyprus                99
Japan                 69
Switzerland           49
Sweden                41
Lithuania             35
Poland                33
Iceland               31
Denmark               20
Channel Islands       17
Finland               17
Israel                16
Austria                9
Bahrain                2
NaN                    1
Name: count, dtype: int64

In [25]:
df['unitprice'].dtype

dtype('float64')

In [26]:
df.dtypes

invoiceno       object
stockcode       object
description     object
quantity         int64
invoicedate     object
unitprice      float64
customerid     float64
country         object
dtype: object

In [27]:
df[df['unitprice']<=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
55319,540987,17011A,NaN,-61,1/12/2011 16:15,0.0,NaN,United Kingdom
55837,541000,21632,NaN,-41,1/13/2011 10:11,0.0,NaN,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,1/13/2011 15:10,0.0,15107.0,United Kingdom
61702,541482,22837,NaN,-35,1/18/2011 12:32,0.0,NaN,United Kingdom
61838,541487,85118,NaN,-35,1/18/2011 13:19,0.0,NaN,United Kingdom

In [29]:
df[df['quantity']>=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
62546,541506,85231b,CINAMMON SET OF 9 T-LIGHTS,1,1/18/2011 16:05,1.63,NaN,United Kingdom
62547,541506,DOT,DOTCOM POSTAGE,1,1/18/2011 16:05,118.33,NaN,United Kingdom
62548,541507,22719,GUMBALL MONOCHROME COAT RACK,1,1/18/2011 16:05,2.46,NaN,United Kingdom
62549,541507,22807,SET OF 6 T-LIGHTS TOADSTOOLS,1,1/18/2011 16:05,5.79,NaN,United Kingdom
62550,541507,22844,VINTAGE CREAM DOG FOOD CONTAINER,1,1/18/2011 16:05,16.63,NaN,NaN

In [31]:
df['unitprice'].describe()

count    62551.000000
mean         5.917935
std        149.003900
min          0.000000
25%          1.250000
50%          2.510000
75%          4.250000
max      16888.020000
Name: unitprice, dtype: float64

In [32]:
df['quantity'].describe()

count    62551.000000
mean         8.352017
std        423.334622
min     -74215.000000
25%          1.000000
50%          2.000000
75%          8.000000
max      74215.000000
Name: quantity, dtype: float64

In [34]:
df['invoicedate'].min(), df['invoicedate'].max()

('1/10/2011 10:04', '12/9/2010 9:49')

In [37]:
df['invoicedate']=pd.to_datetime(df['invoicedate'])

In [38]:
df.dtypes

invoiceno              object
stockcode              object
description            object
quantity                int64
invoicedate    datetime64[ns]
unitprice             float64
customerid            float64
country                object
dtype: object

In [44]:
df[df['invoicedate'] < pd.Timestamp('1/1/2011')]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
42476,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,NaN,United Kingdom
42477,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,NaN,United Kingdom
42478,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,NaN,United Kingdom
42479,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,NaN,United Kingdom
42480,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,NaN,United Kingdom

In [46]:
df['invoicedate'].isnull().sum()

np.int64(0)

In [48]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62551 entries, 0 to 62550
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    62551 non-null  object
 1   stockcode    62551 non-null  object
 2   description  62388 non-null  object
 3   quantity     62551 non-null  int64
 4   invoicedate  62551 non-null  datetime64[ns]
 5   unitprice    62551 non-null  float64
 6   customerid   38501 non-null  float64
 7   country      62550 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 16.7 MB

In [49]:
df.sample(20,random_state=42)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
1165,536528,22911,PAPER CHAIN KIT LONDON,1,2010-12-01 13:17:00,2.95,15525.0,United Kingdom
26464,538514,22804,CANDLEHOLDER PINK HANGING HEART,2,2010-12-12 14:27:00,2.95,15044.0,United Kingdom
17394,537757,85150,LADIES & GENTLEMEN METAL SIGN,12,2010-12-08 11:38:00,2.55,17975.0,United Kingdom
52234,540697,21907,I'M ON HOLIDAY METAL SIGN,12,2011-01-11 09:20:00,2.10,16670.0,United Kingdom
3715,536643,22112,CHOCOLATE HOT WATER BOTTLE,6,2010-12-02 11:57:00,4.95,14390.0,United Kingdom
51104,540641,82486,WOOD S/3 CABINET ANT WHITE FINISH,2,2011-01-10 13:20:00,7.95,16497.0,United Kingdom
13047,537415,22855,FINE WICKER HEART,12,2010-12-06 15:09:00,1.25,16654.0,United Kingdom
28628,538651,15056BL,EDWARDIAN PARASOL BLACK,1,2010-12-13 15:07:00,5.95,15311.0,United Kingdom
42091,539958,22438,BALLOON ART MAKE YOUR OWN FLOWERS,14,2010-12-23 13:26:00,1.66,NaN,United Kingdom
27329,C538530,22630,DOLLY GIRL LUNCH BOX,-33,2010-12-13 10:26:00,1.95,14796.0,United Kingdom
47127,C540380,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-7,2011-01-06 17:36:00,0.85,16094.0,United Kingdom
21838,538147,M,Manual,1,2010-12-09 16:11:00,15.00,13090.0,United Kingdom
61762,541485,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,2011-01-18 13:05:00,4.95,18118.0,United Kingdom
2592,536592,21801,CHRISTMAS TREE DECORATION WITH BELL,10,2010-12-01 17:06:00,0.43,NaN,United Kingdom
19707,537886,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2010-12-09 09:49:00,0.85,15660.0,United Kingdom
8941,537156,21164,HOME SWEET HOME METAL SIGN,2,2010-12-05 13:08:00,2.95,17858.0,United Kingdom
21096,538071,22730,ALARM CLOCK BAKELIKE IVORY,2,2010-12-09 14:09:00,7.62,NaN,United Kingdom
22621,538177,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,2,2010-12-10 09:51:00,5.91,NaN,United Kingdom
28739,538656,90125D,PURPLE BERTIE GLASS BEAD BAG CHARM,1,2010-12-13 15:20:00,2.10,17371.0,United Kingdom
61422,541424,22665,RECIPE BOX BLUE SKETCHBOOK DESIGN,1,2011-01-17 17:57:00,5.79,NaN,United Kingdom