<a href="https://colab.research.google.com/github/Trinadhreddy11/dataeng/blob/main/dataeng_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('data.csv',encoding='latin1')

In [8]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [9]:
print(df.tail())

      InvoiceNo StockCode                         Description  Quantity  \
49907    540538     47422    ASSORTED MONKEY SUCTION CUP HOOK         5
49908    540538     21976      PACK OF 60 MUSHROOM CAKE CASES         9
49909    540538     84991         60 TEATIME FAIRY CAKE CASES         5
49910    540538     20969   RED FLORAL FELTCRAFT SHOULDER BAG         1
49911    540538     20970  PINK FLORAL FELTCRAFT SHOULDER BAG         1

          InvoiceDate  UnitPrice  CustomerID         Country
49907  1/9/2011 14:36       0.42     17841.0  United Kingdom
49908  1/9/2011 14:36       0.55     17841.0  United Kingdom
49909  1/9/2011 14:36       0.55     17841.0  United Kingdom
49910  1/9/2011 14:36       3.75     17841.0  United Kingdom
49911  1/9/2011 14:36        NaN         NaN             NaN

In [10]:
print(df.shape)

(49912, 8)

In [11]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [12]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [13]:
df.columns=df.columns.str.lower().str.replace(' ','_').str.strip()

In [14]:
df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [15]:
df.isnull().sum()

invoiceno          0
stockcode          0
description      142
quantity           0
invoicedate        0
unitprice          1
customerid     17882
country            1
dtype: int64

In [16]:
(df.isnull().mean()*100).round(2)

invoiceno       0.00
stockcode       0.00
description     0.28
quantity        0.00
invoicedate     0.00
unitprice       0.00
customerid     35.83
country         0.00
dtype: float64

In [17]:
df.duplicated().sum()

np.int64(537)

In [18]:
print(df.duplicated(subset=['description']).sum())

47096

In [19]:
df.duplicated(subset=['customerid']).sum()

np.int64(48873)

In [20]:
df.describe()

           quantity     unitprice    customerid
count  49912.000000  49911.000000  32030.000000
mean       8.294218      6.423712  15426.016422
std       55.576019    166.653120   1752.300279
min    -9360.000000      0.000000  12347.000000
25%        1.000000      1.250000  14057.000000
50%        2.000000      2.510000  15464.000000
75%        8.000000      4.250000  17041.000000
max     2880.000000  16888.020000  18283.000000

In [21]:
df.describe(include='object')

,invoiceno,stockcode,description,invoicedate,country
count,49912,49912,49770,49912,49911
unique,2335,2877,2815,2060,24
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,12/6/2010 16:57,United Kingdom
freq,675,283,288,675,46933

In [22]:
df.nunique().sort_values()

country          24
quantity        214
unitprice       314
customerid     1038
invoicedate    2060
invoiceno      2335
description    2815
stockcode      2877
dtype: int64

In [23]:
df['country'].value_counts(dropna=False)

country
United Kingdom     46933
Germany              811
France               608
EIRE                 418
Spain                174
Norway               147
Portugal             141
Belgium               99
Australia             83
Cyprus                83
Netherlands           72
Japan                 69
Switzerland           49
Italy                 42
Sweden                41
Lithuania             35
Iceland               31
Denmark               20
Channel Islands       17
Finland               17
Austria                9
Poland                 8
Israel                 2
Bahrain                2
NaN                    1
Name: count, dtype: int64

In [24]:
df['unitprice'].dtype

dtype('float64')

In [25]:
df.dtypes

invoiceno       object
stockcode       object
description     object
quantity         int64
invoicedate     object
unitprice      float64
customerid     float64
country         object
dtype: object

In [26]:
df[df['unitprice']<=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
46579,540355,20724,RED RETROSPOT CHARLOTTE BAG,1,1/6/2011 15:11,0.0,NaN,United Kingdom
46673,540356,20724,RED RETROSPOT CHARLOTTE BAG,1,1/6/2011 15:12,0.0,NaN,United Kingdom
46883,540369,47591D,NaN,-201,1/6/2011 16:20,0.0,NaN,United Kingdom
47068,540372,22090,PAPER BUNTING RETROSPOT,24,1/6/2011 16:41,0.0,13081.0,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,1/6/2011 16:41,0.0,13081.0,United Kingdom

In [27]:
df[df['quantity']>=0]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
49907,540538,47422,ASSORTED MONKEY SUCTION CUP HOOK,5,1/9/2011 14:36,0.42,17841.0,United Kingdom
49908,540538,21976,PACK OF 60 MUSHROOM CAKE CASES,9,1/9/2011 14:36,0.55,17841.0,United Kingdom
49909,540538,84991,60 TEATIME FAIRY CAKE CASES,5,1/9/2011 14:36,0.55,17841.0,United Kingdom
49910,540538,20969,RED FLORAL FELTCRAFT SHOULDER BAG,1,1/9/2011 14:36,3.75,17841.0,United Kingdom
49911,540538,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,1,1/9/2011 14:36,NaN,NaN,NaN

In [28]:
df['unitprice'].describe()

count    49911.000000
mean         6.423712
std        166.653120
min          0.000000
25%          1.250000
50%          2.510000
75%          4.250000
max      16888.020000
Name: unitprice, dtype: float64

In [29]:
df['quantity'].describe()

count    49912.000000
mean         8.294218
std         55.576019
min      -9360.000000
25%          1.000000
50%          2.000000
75%          8.000000
max       2880.000000
Name: quantity, dtype: float64

In [30]:
df['invoicedate']=pd.to_datetime(df['invoicedate'])

In [31]:
df['invoicedate'].min(), df['invoicedate'].max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-01-09 14:36:00'))

In [32]:
df.dtypes

invoiceno              object
stockcode              object
description            object
quantity                int64
invoicedate    datetime64[ns]
unitprice             float64
customerid            float64
country                object
dtype: object

In [33]:
df[df['invoicedate'] < pd.Timestamp('1/1/2011')]

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
42476,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,NaN,United Kingdom
42477,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,NaN,United Kingdom
42478,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,NaN,United Kingdom
42479,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,NaN,United Kingdom
42480,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,NaN,United Kingdom

In [34]:
df['invoicedate'].isnull().sum()

np.int64(0)

In [35]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49912 entries, 0 to 49911
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    49912 non-null  object
 1   stockcode    49912 non-null  object
 2   description  49770 non-null  object
 3   quantity     49912 non-null  int64
 4   invoicedate  49912 non-null  datetime64[ns]
 5   unitprice    49911 non-null  float64
 6   customerid   32030 non-null  float64
 7   country      49911 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 13.3 MB

In [36]:
df.sample(20,random_state=42)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
42278,539978,85034C,3 ROSE MORRIS BOXED CANDLES,12,2010-12-23 14:06:00,1.25,13165.0,United Kingdom
35664,539437,20719,WOODLAND CHARLOTTE BAG,5,2010-12-17 14:54:00,1.66,NaN,United Kingdom
199,536389,21791,VINTAGE HEADS AND TAILS CARD GAME,12,2010-12-01 10:03:00,1.25,12431.0,Australia
42033,539958,22209,WOOD STAMP SET HAPPY BIRTHDAY,3,2010-12-23 13:26:00,1.66,NaN,United Kingdom
48440,540468,90214K,"LETTER ""K"" BLING KEY RING",1,2011-01-07 13:55:00,0.85,NaN,United Kingdom
44121,540154,21111,"SWISS ROLL TOWEL, CHOCOLATE SPOTS",2,2011-01-05 11:30:00,2.51,NaN,United Kingdom
42237,539958,84596B,SMALL DOLLY MIX DESIGN ORANGE BOWL,32,2010-12-23 13:26:00,0.85,NaN,United Kingdom
23823,538250,22147,FELTCRAFT BUTTERFLY HEARTS,3,2010-12-10 12:20:00,1.45,18118.0,United Kingdom
29540,538807,21441,BLUE BIRDHOUSE DECORATION,1,2010-12-14 12:06:00,0.85,17194.0,United Kingdom
16134,537645,21033,JUMBO BAG CHARLIE AND LOLA TOYS,1,2010-12-07 15:34:00,5.49,NaN,United Kingdom
37794,539481,22197,SMALL POPCORN HOLDER,6,2010-12-19 15:24:00,0.85,NaN,United Kingdom
13744,537434,22946,WOODEN ADVENT CALENDAR CREAM,1,2010-12-06 16:57:00,34.00,NaN,United Kingdom
33041,539217,22663,JUMBO BAG DOLLY GIRL DESIGN,20,2010-12-16 12:46:00,1.95,15394.0,United Kingdom
14883,537624,85099F,JUMBO BAG STRAWBERRY,1,2010-12-07 14:41:00,1.95,12748.0,United Kingdom
28644,538652,72802B,OCEAN SCENT CANDLE IN JEWELLED BOX,1,2010-12-13 15:12:00,4.25,17890.0,United Kingdom
49860,C540535,22649,STRAWBERRY FAIRY CAKE TEAPOT,-1,2011-01-09 14:17:00,4.95,15005.0,United Kingdom
42372,539988,15056N,EDWARDIAN PARASOL NATURAL,2,2010-12-23 16:06:00,5.95,18116.0,United Kingdom
43991,540154,47591B,SCOTTIES CHILDRENS APRON,3,2011-01-05 11:30:00,1.66,NaN,United Kingdom
38831,539595,21896,POTTING SHED TWINE,1,2010-12-20 13:43:00,4.21,NaN,United Kingdom
32445,539075,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,4,2010-12-15 17:28:00,3.75,17189.0,United Kingdom

In [37]:
df['revenue']=df['quantity']*df['unitprice']

In [38]:
df.describe()

,quantity,invoicedate,unitprice,customerid,revenue
count,49912.000000,49912,49911.000000,32030.000000,49911.000000
mean,8.294218,2010-12-14 17:30:15.522920448,6.423712,15426.016422,16.819470
min,-9360.000000,2010-12-01 08:26:00,0.000000,12347.000000,-16888.020000
25%,1.000000,2010-12-06 13:13:00,1.250000,14057.000000,3.360000
50%,2.000000,2010-12-10 15:17:00,2.510000,15464.000000,8.420000
75%,8.000000,2010-12-19 11:38:00,4.250000,17041.000000,17.000000
max,2880.000000,2011-01-09 14:36:00,16888.020000,18283.000000,13541.330000
std,55.576019,NaN,166.653120,1752.300279,179.247465

In [39]:
df.to_parquet("clean_retail_data.parquet", index=False)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49912 entries, 0 to 49911
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    49912 non-null  object
 1   stockcode    49912 non-null  object
 2   description  49770 non-null  object
 3   quantity     49912 non-null  int64
 4   invoicedate  49912 non-null  datetime64[ns]
 5   unitprice    49911 non-null  float64
 6   customerid   32030 non-null  float64
 7   country      49911 non-null  object
 8   revenue      49911 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 3.4+ MB

In [41]:
df=df.dropna(subset=['customerid','description','invoicedate'])

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32030 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    32030 non-null  object
 1   stockcode    32030 non-null  object
 2   description  32030 non-null  object
 3   quantity     32030 non-null  int64
 4   invoicedate  32030 non-null  datetime64[ns]
 5   unitprice    32030 non-null  float64
 6   customerid   32030 non-null  float64
 7   country      32030 non-null  object
 8   revenue      32030 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 2.4+ MB

In [43]:
df=df[df['quantity']>0 &(df['unitprice']>0)]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31150 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    31150 non-null  object
 1   stockcode    31150 non-null  object
 2   description  31150 non-null  object
 3   quantity     31150 non-null  int64
 4   invoicedate  31150 non-null  datetime64[ns]
 5   unitprice    31150 non-null  float64
 6   customerid   31150 non-null  float64
 7   country      31150 non-null  object
 8   revenue      31150 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 2.4+ MB

In [45]:
df=df.drop_duplicates()

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30627 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    30627 non-null  object
 1   stockcode    30627 non-null  object
 2   description  30627 non-null  object
 3   quantity     30627 non-null  int64
 4   invoicedate  30627 non-null  datetime64[ns]
 5   unitprice    30627 non-null  float64
 6   customerid   30627 non-null  float64
 7   country      30627 non-null  object
 8   revenue      30627 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 2.3+ MB

In [47]:
df['country']=df['country'].str.lower().str.strip().str.title()

In [48]:
df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country', 'revenue'],
      dtype='object')

In [49]:
df['country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'Eire', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria'], dtype=object)

In [50]:
df['description']=df['description'].str.strip()

In [51]:
df['description'] = df['description'].str.replace(r'[^A-Za-z0-9 ]', '', regex=True)

In [52]:
df['stockcode'] = df['stockcode'].astype(str)
df['customerid'] = df['customerid'].astype(int)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30627 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    30627 non-null  object
 1   stockcode    30627 non-null  object
 2   description  30627 non-null  object
 3   quantity     30627 non-null  int64
 4   invoicedate  30627 non-null  datetime64[ns]
 5   unitprice    30627 non-null  float64
 6   customerid   30627 non-null  int64
 7   country      30627 non-null  object
 8   revenue      30627 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.3+ MB

In [54]:
df['invoiceno'] = df['invoiceno'].astype(str)

In [55]:
df['invoiceno'].str.startswith('c')

0        False
1        False
2        False
3        False
4        False
         ...
49906    False
49907    False
49908    False
49909    False
49910    False
Name: invoiceno, Length: 30627, dtype: bool

In [56]:
df = df[df['quantity'] < 10000]
df = df[df['unitprice'] < 10000]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30627 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    30627 non-null  object
 1   stockcode    30627 non-null  object
 2   description  30627 non-null  object
 3   quantity     30627 non-null  int64
 4   invoicedate  30627 non-null  datetime64[ns]
 5   unitprice    30627 non-null  float64
 6   customerid   30627 non-null  int64
 7   country      30627 non-null  object
 8   revenue      30627 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.3+ MB

In [58]:
df = df[(df['invoicedate'].dt.year >= 2010) & (df['invoicedate'].dt.year <= 2012)]

In [59]:
duplicates = df.duplicated(subset=['invoiceno','stockcode'], keep=False)
df = df[~duplicates]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29852 entries, 0 to 49910
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    29852 non-null  object
 1   stockcode    29852 non-null  object
 2   description  29852 non-null  object
 3   quantity     29852 non-null  int64
 4   invoicedate  29852 non-null  datetime64[ns]
 5   unitprice    29852 non-null  float64
 6   customerid   29852 non-null  int64
 7   country      29852 non-null  object
 8   revenue      29852 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 2.3+ MB

In [61]:
df['year']=df['invoicedate'].dt.year

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29852 entries, 0 to 49910
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    29852 non-null  object
 1   stockcode    29852 non-null  object
 2   description  29852 non-null  object
 3   quantity     29852 non-null  int64
 4   invoicedate  29852 non-null  datetime64[ns]
 5   unitprice    29852 non-null  float64
 6   customerid   29852 non-null  int64
 7   country      29852 non-null  object
 8   revenue      29852 non-null  float64
 9   year         29852 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(4)
memory usage: 2.4+ MB

In [63]:
df.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,revenue,year
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010

In [64]:
df.to_parquet("clean_retail_data.parquet", index=False)

In [65]:
import os
os.listdir()

['.config', 'data.csv', 'clean_retail_data.parquet', 'sample_data']

In [66]:
df_clean = pd.read_parquet("clean_retail_data.parquet")
df_clean.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,revenue,year
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010

In [67]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29852 entries, 0 to 29851
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    29852 non-null  object
 1   stockcode    29852 non-null  object
 2   description  29852 non-null  object
 3   quantity     29852 non-null  int64
 4   invoicedate  29852 non-null  datetime64[ns]
 5   unitprice    29852 non-null  float64
 6   customerid   29852 non-null  int64
 7   country      29852 non-null  object
 8   revenue      29852 non-null  float64
 9   year         29852 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(4)
memory usage: 2.2+ MB